/Users/ericgallager/Documents/VolumeOfSphere/-1
/Users/ericgallager/Documents/VolumeOfSphere/.dropbox
/Users/ericgallager/Documents/VolumeOfSphere/.com.apple.timemache.supported
/Users/ericgallager/Documents/VolumeOfSphere/.DS_Store
/Users/ericgallager/Documents/VolumeOfSphere/build/VolumeOfSphere.build

*/.DS_Store

-1
.dropbox
.com.apple.timemache.supported
build/VolumeOfSphere.build
.DS_Store
*.build
build/*
build
*.pbxuser
*.perspectivev3

~/Documents/VolumeOfSphere/-1
~/Documents/VolumeOfSphere/.dropbox
~/Users/ericgallager/Documents/VolumeOfSphere/.com.apple.timemache.supported
~/Documents/VolumeOfSphere/.DS_Store
~/Documents/VolumeOfSphere/build/VolumeOfSphere.build
